<odoo>
  <data>

    <menuitem name="Zoo" id="zoo.menu_root"/>
    
    <menuitem name="Aminales" id="zoo.menu_animales"
              parent="zoo.menu_root" action="action_animal"/>

    <menuitem name="Cuidadores" id="zoo.menu_cuidador"
              parent="zoo.menu_root" action="action_cuidador"/>

    <menuitem name="Espacios" id="zoo.menu_espacio"
              parent="zoo.menu_root" action="action_espacio"/>

  </data>
</odoo>
